.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; // Light background for the whole page
}

.dashboard {
  display: flex;
  height: 100vh;
  background-color: #f4f4f4;
}

.mainContent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  position: sticky;
  top: 0;

  display: flex;
  min-height: 60px;
  justify-content: space-between; // Space out the logo and nav items
  align-items: center;
  background-color: #343a40; // Dark background for the navbar
  padding: 0.5rem 2rem; // Increased padding for height
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Add subtle shadow for depth
}

.logo {
  flex: 1;
}

.logoLink {
  font-size: 1.8rem; // Larger font size for the logo
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;

  &:hover {
    color: #ffc107; // Highlight color on hover
  }
}

.navItems {
  display: flex;
  align-items: center;
}

.navLink {
  color: #ffffff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1rem;
  transition: color 0.3s ease;

  &:hover {
    color: #ffc107; // Highlight color on hover
  }
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 150px; // Adjust as needed
}

.dropdownItem {
  display: block;
  padding: 0.5rem 1rem;
  color: #343a40;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  user-select: none;

  &:hover {
    background-color: #343A40; // Highlight color on hover
    color: #fff; // Highlight color on hover
  }
}

.userIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  background-color: #007bff; /* Background color of the circle */
  color: #ffffff; /* Text color */
  font-size: 1rem; /* Font size for initials */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;

  &:hover {
    background-color: #0056b3; /* Change color on hover */
  }
}
